$amarillo: #d6ddc5;
$rojo:  #DDC5D6;
$verde: #C5D6DD;

@mixin margenes($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}

.jumbotron {
	background-color: $rojo;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: lightblue;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-fac {
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
}

.footer-address-icon {
	padding-right: 10px;
}

.btn-outline-primary {
	margin-top: 15px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}